@tailwind base;

@tailwind components;


html, body {
    font-family: 'Josefin Sans', sans-serif;
}

.project::-webkit-scrollbar {
    display: none;
}

.project {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.card {
    border-radius: 50px;
    background: url(/assets/images/background.jpg);
    position: relative;
    overflow: hidden;
    width: 49%;
  }
  .card:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.92);
  }
  .card .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
  }
  .card .img span {
    width:33%;
    height: 100%;
    transition: 0.5s;
  }

  .act-track .img span {
    background-image: url(/assets/images/rails.jpg);
  }
  .mark-down .img span {
    background-image: url(/assets/images/ruby.png);
  }
  
  .tnw-clone .img span {
    background-image: url(/assets/images/html.jpg);
  }
  .card .img span:nth-child(1) {
    background-position: 0;
    transition-delay: 0;
  }
  .card .img span:nth-child(2) {
    background-position: 33.33333%;
    transition-delay: 0.1s;
  }
  .card .img span:nth-child(3) {
    background-position: 66.66666%;
    transition-delay: 0.2s;
  }
  .card .img span:nth-child(4) {
    background-position: 100%;
    transition-delay: 0.3s;
  }
  
  .card:hover .img > span {
    transform: translateY(-100%);
  }
  .card:hover .content {
    transform: translateY(0%);
    transition: 1s;
    transition-delay: 0.1s;
  }
  
  .content {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 25px 25px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
  }

  
  @tailwind utilities;
